body {
    background-color: lightblue;
  }
  #header{
      background-color: black;
      height: 150px;
      width: auto;
      
  }
  h1{
      color: white;
      padding-top: 100px;
      text-align: center;
    
  }
 #demo{
height: auto;
width: 200px;

 } 

